<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/linkalls/raku/raku.css" />
  </head>
  <body>
    <h1>edit</h1>
    <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
      <textarea name="comment" id=""><%= comment.comment %></textarea>
      <button>save</button>
    </form>
  </body>
</html>
